.clinic {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    padding: 64px 30px;
    justify-content: center;

    &-text {
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex: 1 1 400px;

        &__title {
            text-transform: uppercase;
            color: #3f3f3f;
            font-size: $fontSizeHuge;
            line-height: normal;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &__description {
            color: #3f3f3f;
            font-size: $fontSizeMedium;
            line-height: normal;
            font-weight: 400;
        }
    }

    &-image {
        width: 100%;
    }
}

.reverse {
    flex-direction: row-reverse;
}

@media (max-width: 540px) {
    .clinic {
        padding: 32px 30px;
    }

    .clinic-text {
        gap: 10px;
    }
}