.about {
    display: flex;
    flex-direction: row;
    margin: 110px 0;
    justify-content: space-between;
    padding: 0 40px;

    &-text {
        align-self: center;
        width: 782px;
        color: rgb(63, 63, 63);
        font-family: Montserrat;
        font-size: $fontSizeMedium;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0%;
        text-align: left;

    }

    &-title {
        display: flex;
        height: 144px;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;

        &__text {
            color: rgb(63, 63, 63);
            font-family: Montserrat;
            font-size: $fontSizeHuge;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            width: 300px;
        }

        &__link {
            text-decoration: none;
            padding: 12px 37px;
            font-size: 14px;
            font-weight: 700;
            color: #3F3F3F;
            background-color: #E8E8E8;
            border-radius: 30px;
            width: fit-content;
            height: 18px;
        }
    }
}

.reviews {
    display: flex;
    gap: 17px;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    // padding: 0 40px 150px 40px;
    padding-bottom: 150px;
    margin-top: 20px;

    &-left {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 17px;
    }

    &-box {
        display: flex;
        flex-wrap: wrap;
        flex: 2 1 670px;
        gap: 17px;
    }

    &-item {
        min-width: 240px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: rgba(220, 220, 220, 0.74);
        padding: 30px;
        border-radius: 30px;

        &__who {
            display: flex;
            gap: 70px;

            &-name {
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                color: #3F3F3F;
            }

            &-date {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: rgba(0, 0, 0, 0.5);
            }
        }

        &__text {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
        }

        &__link {
            border-radius: 30px;
            background: rgb(117, 203, 75);
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 10px;
            text-transform: uppercase;
            text-align: center;
            width: 172px;
            padding: 16px 0;
        }
    }

    &-center {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        &__link {
            background: rgba(220, 220, 220, 0.74);
            border-radius: 30px;
            color: #3F3F3F;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            text-align: center;
            padding: 13px 20px;
        }
    }

    &--first {
        min-width: 290px;
        flex: 1 1 50px;
    }

    &--second {
        min-width: 300px;
        flex: 1 1 50px;
    }

    &--third {
        position: relative;
        flex: 1 2 400px;
    }

    &-title {
        text-transform: uppercase;
        color: #3F3F3F;
        font-weight: 700;
        font-size: 40px;

        &--top {
            display: none;
            font-size: $fontSizeHuge;
        }

        &__back {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;
            width: 228px;
            height: 80px;
            display: flex;
            padding: 0px;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: 30px;
            background-color: rgb(255, 255, 255);
        }
    }
}

.corner-left__up {
    position: absolute;
    top: 0;
    right: 228px;
    z-index: 7;
    width: 30px;
    height: 30px;
    border-top-right-radius: 30px;
    background: rgba(220, 220, 220, 0.74);
}

.corner-left__down {
    position: absolute;
    top: 0;
    right: 228px;
    z-index: 6;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.corner-right__up {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 9;
    width: 30px;
    height: 30px;
    border-top-right-radius: 30px;
    background: rgba(220, 220, 220, 0.74);
}

.corner-right__down {
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: 7;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        gap: 30px;
    }

    .about-title {
        flex-direction: row;
        height: auto;
    }

    .about-text {
        width: auto;
    }

    .about-title__text {
        width: auto;
    }
}

@media (max-width: 540px) {
    .reviews-title__back {
        display: none;
    }

    .corner-left__up {
        display: none;
    }

    .corner-left__down {
        display: none;
    }

    .corner-right__up {
        display: none;
    }

    .corner-right__down {
        display: none;
    }

    .reviews-title--top {
        display: block;
    }

    .about {
        margin: 80px 0;
    }

    .reviews--first {
        min-width: auto;
    }
}