.about{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 116px;
    &__text{
        width: 782px;
        color: rgb(63, 63, 63);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.reviews{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    gap: 17px;
    &__left{
        border-radius: 30px;
        background: rgba(220, 220, 220, 0.74);
        width: 364px;
        
        padding: 28px 27px 35px 36px;
    }
    &-link{
        border-radius: 30px;
        background: rgb(117, 203, 75);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        padding: 16px 19px 16px 19px;
        text-align: center;
        width: 172px;
        
    }
    &__who{
        display: flex;
        flex-direction: row;
        gap: 73px;
        margin-top: 27px;
    }
    &__name{
        color: rgb(63, 63, 63);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__date{
        color: rgba(0, 0, 0, 0.5);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__textR{
        color: rgba(0, 0, 0, 0.5);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 20px;
        width: 450px;
    }
    &__text{
        color: rgba(0, 0, 0, 0.5);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 20px;
    }


    &__centerForm{
        display: flex;
        flex-direction: column;
    }
    &__center{
        width: 301px;
        height: 216px;
        border-radius: 30px;
        background: rgba(220, 220, 220, 0.74);
        padding: 28px 24px 29px 36px;
        &-link{
            border-radius: 30px;
            background: rgba(220, 220, 220, 0.74);
            width: 301px;
            padding: 16px 19px 16px 19px;
            text-decoration: none;
            color: rgb(63, 63, 63);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            margin-top: 31px;
            text-align: center;
        }
    }
    &__right{
        background-image: url(./image/backsubstract-right.png);
        background-repeat: no-repeat;
        padding: 28px 36px 53px 36px;
        height: 327px;
        
    }
    &__rightTop{
        display: flex;
        flex-direction: row;
        gap: 74px;
    }
}