.content{
    padding-top: 30px;
    &__title{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        padding-left: 28px;
    }
    &__directions{
        background-color: rgb(220, 220, 220, 0.74);
        border-radius: 30px;
        margin-left: 28px;
        margin-top: 34px;
        
        
    }
    &__information{
        background-color: rgb(117, 203, 75);
        border-radius: 30px 0 0 0px;
        padding: 48px;
        grid-column-start: 5;  /* начинается с 1-й линии колонки */
        grid-column-end: 7;    /* заканчивается на 2-й линии */
        grid-row-start: 2;     /* начинается с 3-й линии строки */
        grid-row-end: 3;       /* заканчивается на 4-й линии */
        box-shadow: -10px -10px 1px 20px rgb(255, 255, 255)
        
    }
    // &__discription{
    //     color: rgba(255, 255, 255, 0.95);
    //     font-size: 24px;
    //     font-weight: 700;
    //     line-height: 29px;
    //     text-align: left;
    // }
    &__text{
        color: rgba(255, 255, 255, 0.95);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;   
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &__link{
        border-radius: 30px;
        background: rgb(255, 255, 255);
        color: rgb(117, 219, 71);
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
        padding: 16px 126px;
        
    }
}
