.direction{
    margin-top: 20px;
    height: 194px;
    width: 189px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
    &__form{
        // padding-top: 52px;
        // padding-bottom: 68px;
        // padding-left: 58px;
        // display: flex;
        // flex-wrap: wrap;
        // column-gap: 48px;
        // row-gap: 109px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 48px;
        padding-left: 58px;
        padding-top: 38px;

    }
    &__image{
        padding-top: 30px;
        width: 62px;
        height: 62px;
    }
    &__title{
        color: rgb(117, 203, 75);
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin-top: 14px;
        
    }
    &__text{
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
    }
    &__form-horisontal{
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    &__form-vertical{
        display: flex;
        flex-direction: column;
        gap: 117px;
    }
}
.horisontal-horisotn{
    display: flex;
    flex-direction: row;
    gap: 58px;
}