.dms {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: space-between;
    padding: 50px 0;

    &-left {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 30px;
        flex: 1 1 300px;

        &__title {
            font-size: $fontSizeHuge;
            color: #3F3F3F;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        &__list {
            font-size: $fontSizeMedium;
            color: #3F3F3F;
            font-weight: 400;
            line-height: normal;
            margin-left: 20px;
        }

        &__button {
            background-color: #75CB4B;
            text-decoration: none;
            color: #FFF;
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            padding: 12px 30px;
            border-radius: 30px;
            width: 112px;
        }
    }

    &-right {
        display: flex;
        flex-direction: column;
        flex: 1 1 500px;

        &__text {
            text-transform: uppercase;
            font-size: $fontSizeBiger;
            line-height: normal;
            color: #75CB4B;
            font-weight: 700;
        }

        &__title {
            font-size: $fontSizeHuge;
            color: #3F3F3F;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        &__box {
            background-color: rgb(220, 220, 220, 0.74);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 40px;
            margin-top: 40px;
        }

        &__item {
            background-color: #FFF;
            border-radius: 10px;
            display: flex;
            gap: 30px;
            padding: 30px;
            align-items: center;

            &-name {
                font-size: $fontSizeMedium;
                color: #3F3F3F;
                font-weight: 400;
                line-height: normal;
                margin-left: 20px;
            }

            &-step {
                text-transform: uppercase;
                font-size: $fontSizeBiger;
                line-height: normal;
                color: #75CB4B;
                font-weight: 700;
                text-wrap: nowrap;
            }
        }
    }
}

.sale {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 40px;
}

@media (max-width: 540px) {
    .dms {
        padding-top: 0;
        gap: 64px;
    }

    .dms-left {
        gap: 20px;
    }

    .dms-right__box {
        padding: 30px;
    }

    .dms-right__item {
        padding: 20px;
    }
}