$fontSizeHuge: clamp(20px, 5vw, 40px);
$fontSizeLarge: clamp(16px, 4vw, 24px);
$fontSizeBiger: clamp(16px, 4vw, 20px);
$fontSizeBig: clamp(14px, 3vw, 16px);
$fontSizeMedium: clamp(12px, 3vw, 16px);
$fontSizeLittle: clamp(12px, 3vw, 14px);
$fontSizeSmall: clamp(10px, 2vw, 14px);