@charset "UTF-8";
.header {
  background-color: rgb(255, 255, 255);
  background-position: 141px 2px;
  background-image: url(./image/headerdnk.png);
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 123px;
}
.header__menu {
  display: flex;
  flex-direction: row;
}
.header__navigate {
  display: flex;
  gap: 74px;
  padding-left: 135px;
  padding-top: 58px;
}
.header__logo {
  padding-top: 39px;
}
.header__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  text-align: left;
  text-decoration: none;
  color: rgb(114, 114, 114);
}
.header__timeWork {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 18px;
  padding-left: 172px;
}
.header__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.header__phone {
  box-sizing: border-box;
  border: 0px solid rgb(32, 32, 39);
  border-radius: 30px;
  background: rgb(117, 203, 75);
  padding: 13px 22px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
}
.header__forms {
  display: flex;
  flex-direction: row;
}
.header__left {
  width: 600px;
  padding-top: 220px;
  padding-left: 60px;
  width: 550px;
}
.header__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.header__information {
  width: 500px;
  padding-top: 12px;
}
.header__button {
  margin-left: 174px;
  margin-top: 22px;
  box-sizing: border-box;
  border: 0px solid rgb(32, 32, 39);
  border-radius: 30px;
  background: rgb(117, 203, 75);
  padding: 13px 16px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 19px;
  line-height: 17px;
  text-align: left;
}
.header__right {
  padding-top: 77px;
  margin-left: 107px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.header__baner_big {
  background-image: url(./image/баннер1.jpeg);
  background-repeat: no-repeat;
  width: 620px;
  height: 306px;
}
.header__baner-1 {
  background-image: url(./image/баннер\ дмс.png);
  background-repeat: no-repeat;
  width: 305px;
  height: 234px;
}
.header__baner-2 {
  background-image: url(./image/баннер\ узи.jpeg);
  background-repeat: no-repeat;
  width: 305px;
  height: 234px;
}

.content {
  padding-top: 30px;
}
.content__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  padding-left: 28px;
}
.content__directions {
  background-image: url(./image/Subtract\ \(1\).png);
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-left: 28px;
  margin-top: 34px;
}
.content__information {
  background-color: rgb(117, 203, 75);
  border-radius: 20px;
  width: 400px;
  padding: 24px;
  margin-left: 34px;
  margin-top: 53px;
}
.content__text {
  color: rgba(255, 255, 255, 0.95);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 24px;
}
.content__link {
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(117, 219, 71);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  padding: 16px 126px;
}

.direction {
  margin-top: 20px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  height: 184px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.direction__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 48px;
  padding-left: 58px;
  padding-top: 38px;
}
.direction__image {
  padding-top: 30px;
  width: 62px;
  height: 62px;
}
.direction__title {
  color: rgb(117, 203, 75);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 14px;
}
.direction__text {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
}
.direction__form-horisontal {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.direction__form-vertical {
  display: flex;
  flex-direction: column;
  gap: 117px;
}

.horisontal-horisotn {
  display: flex;
  flex-direction: row;
  gap: 58px;
}

.lor {
  grid-column-start: 1; /* начинается с 1-й линии колонки */
  grid-column-end: 2; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.mrt {
  grid-column-start: 2; /* начинается с 1-й линии колонки */
  grid-column-end: 3; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.Gastroenterologist {
  grid-column-start: 3; /* начинается с 1-й линии колонки */
  grid-column-end: 4; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.Therapist {
  grid-column-start: 4; /* начинается с 1-й линии колонки */
  grid-column-end: 5; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.Surgeon {
  grid-column-start: 5; /* начинается с 1-й линии колонки */
  grid-column-end: 6; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.Gynecologist {
  grid-column-start: 1; /* начинается с 1-й линии колонки */
  grid-column-end: 1; /* заканчивается на 2-й линии */
  grid-row-start: 2; /* начинается с 3-й линии строки */
  grid-row-end: 2; /* заканчивается на 4-й линии */
}

.Urologist {
  grid-column-start: 2; /* начинается с 1-й линии колонки */
  grid-column-end: 2; /* заканчивается на 2-й линии */
  grid-row-start: 2; /* начинается с 3-й линии строки */
  grid-row-end: 2; /* заканчивается на 4-й линии */
}

.Phlebologist {
  grid-column-start: 3; /* начинается с 1-й линии колонки */
  grid-column-end: 3; /* заканчивается на 2-й линии */
  grid-row-start: 2; /* начинается с 3-й линии строки */
  grid-row-end: 2; /* заканчивается на 4-й линии */
}

.lor {
  grid-column-start: 1; /* начинается с 1-й линии колонки */
  grid-column-end: 2; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.mrt {
  grid-column-start: 2; /* начинается с 1-й линии колонки */
  grid-column-end: 3; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.Gastroenterologist {
  grid-column-start: 3; /* начинается с 1-й линии колонки */
  grid-column-end: 4; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.Therapist {
  grid-column-start: 4; /* начинается с 1-й линии колонки */
  grid-column-end: 5; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.Surgeon {
  grid-column-start: 5; /* начинается с 1-й линии колонки */
  grid-column-end: 6; /* заканчивается на 2-й линии */
  grid-row-start: 1; /* начинается с 3-й линии строки */
  grid-row-end: 1; /* заканчивается на 4-й линии */
}

.Gynecologist {
  grid-column-start: 1; /* начинается с 1-й линии колонки */
  grid-column-end: 1; /* заканчивается на 2-й линии */
  grid-row-start: 2; /* начинается с 3-й линии строки */
  grid-row-end: 2; /* заканчивается на 4-й линии */
}

.Urologist {
  grid-column-start: 2; /* начинается с 1-й линии колонки */
  grid-column-end: 2; /* заканчивается на 2-й линии */
  grid-row-start: 2; /* начинается с 3-й линии строки */
  grid-row-end: 2; /* заканчивается на 4-й линии */
}

.Phlebologist {
  grid-column-start: 3; /* начинается с 1-й линии колонки */
  grid-column-end: 3; /* заканчивается на 2-й линии */
  grid-row-start: 2; /* начинается с 3-й линии строки */
  grid-row-end: 2; /* заканчивается на 4-й линии */
}

.specialists__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  padding-top: 150px;
}
.specialists__navigate {
  display: flex;
  gap: 22px;
  margin-top: 39px;
}
.specialists__text {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 30px;
  width: 137px;
  padding: 16px 15px;
  color: rgb(63, 63, 63);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
.specialists__text:hover {
  background-color: rgb(232, 232, 232);
}

.all {
  width: 291px;
}
.all:hover {
  background-color: rgb(117, 219, 71);
}

.gerasim {
  background-color: rgba(220, 220, 220, 0.74);
  display: flex;
}
.gerasim__photo {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: 0 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 642px);
  padding-right: calc(50% - 642px);
}/*# sourceMappingURL=style.css.map */