@import 'header','content','direction','specialists','aboutindex','aboutClinic','footer';
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
  }
a{
    text-decoration: none;
}
  
.center{
    padding-left: calc(50% - 642px);
    padding-right: calc(50% - 642px);
}
